/*Responsável pelo alinhamento da página*/
.container {
    max-width: 1440px;
    /*Centralizando 0=cima e baixo e auto=direita e esquerda*/
    margin: 0 auto;
    padding: 0 8px;
}

/*Imagem de fundo*/
.bg-home {
    position: relative;
}

/*Pseuso elemento*/
.bg-home::before {
    content: '';
    display: block;
    position: absolute;
    /*Edita e seleciona a imagem de fundo*/
    background-image: linear-gradient(to bottom, rgba(6, 18, 30, 0.1), #06121e), url("../assets/bg.svg");
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    /*Imagem embaixo dos demais elementos*/
    z-index: -1;
    /*Evita imagem repetir caso a imagem tenha dimensão menor que a área do site*/
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 0;
    opacity: 0.9;



}

/*Conteúdo da chamada para ação principal*/
.hero {
    color: $white-normal;
    min-height: 80vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 14px;

    h1 {
        text-align: center;
        line-height: 150%;
        max-width: 940px;
        font-size: 46px;
    }

    p {
        text-align: center;
        margin: 14px 0;
    }

}

/*Estilizando o botão de contato*/
.button-contact {
    padding: 14px 28px;
    color: $white-normal;
    background-color: $red-normal;
    border: 0;
    font-size: 18px;
    font-weight: 600;
    margin: 14px 0;
}

/*Uso da Animação Botão de contato*/
.button-contact:hover {
    animation: scaleButton 0.8s alternate infinite;

}

/*Criação da Animação Botão de contato*/
@keyframes scaleButton {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(1.07);
    }

}

@media screen and (max-width: 768px) {
    .hero {
        min-height: 60vh;

        h1 {
            font-size: 30px;
            padding: 0 14px;
            width: 100%;
        }

        p {
            font-size: 14px;
        }

    }
}

/*@media screen and (max-width: 480px) {
    .hero h1 {
        font-size: 24px;
    }

}

/*Estilização do Sobre*/
.about {
    background-color: $primary-normal;
    overflow: hidden;
    color: $white-normal;
}

.about-content {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 14px;
    /*Sentido horário cima/direita/baixo/ esquerda*/
    padding: 34px 14px 64px 14px;

    img {
        max-width: 570px;
    }
}

/*A imagem e o sobre estão cada um dentro de uma div*/
/*Visto isso ao utilizar flex:1; cada div irá ocupar tamanhos
  equivalentes, dentro do espaço proporcionalmente as duas
  divs*/

.about-content div {
    flex: 1;
}

.about-description {
    h2 {
        font-size: 38px;
        margin-bottom: 24px;
    }

    p {
        margin-bottom: 14px;
        line-height: 150%;
    }


}

@media screen and (max-width: 768px) {
    .about-content {
        flex-direction: column;
    }
}

// Parei - Aula no minuto 50